ul {
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
  }
  ul li {
    position: fixed;
    list-style: none;
  }
  ul li a {
    font-size: 2em;
    text-decoration: none;
    letter-spacing: 4px;
    line-height: 1em;
    text-transform: uppercase;
    backdrop-filter: blur(none);
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.774);
  }
  ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
  }
  ul li a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr))
  } 

body {
    background: url("https://images.alphacoders.com/986/986566.jpg");
}

nav {
  backdrop-filter: blur(none);
}

.titre {
    text-align: left;
    justify-content: right;
    color: rgba(240, 248, 255, 0.849);
    width: auto;
    line-height: 50px;
    margin-top: 25%;
    font-size: 3em;
    float: right;
    font-family: 'Mochiy Pop One', sans-serif;
    text-transform: uppercase;
    -webkit-animation: text-pop-up-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
            animation: text-pop-up-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.page {
  border: 2px solid rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  width: 70%;
  height: 850px;
  margin-top: 5em;
  border-radius: 30px;
  -webkit-animation: scale-up-ver-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: scale-up-ver-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  
}





@-webkit-keyframes text-shadow-drop-left {
  0% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
  100% {
    text-shadow: -6px 0 18px rgba(255, 255, 255, 0.35);
  }
}
@keyframes text-shadow-drop-left {
  0% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
  100% {
    text-shadow: -6px 0 18px rgba(255, 255, 255, 0.35);
  }
}

 @-webkit-keyframes text-pop-up-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

 @-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
